
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# remember to not post your bot's token on the repository lmao
config.toml

# log files
*.log.txt

# binary output and fixtures
bin/
fixtures/

# Dependency directories (remove the comment below to include it)
vendor/

# Mac
.DS_Store
